.site-nav .menu-icon > svg path {
    fill: #bbacd4;
}

.site-nav .projects-dropdown {
    display: none;
    position: relative;
}

.site-nav .projects-toggle {
    border: 0;
    background: transparent;
    cursor: pointer;
    font: inherit;
    color: inherit;
}

.site-nav .projects-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: calc(100% + 8px);
    width: max-content;
    background-color: $background-color;
    border: 1px solid $border-color-01;
    border-radius: 4px;
    text-align: right;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 10;
}

.site-nav .projects-menu-link {
    color: $text-color;
    display: block;
    line-height: $base-line-height;
    padding: 8px 12px;
    white-space: nowrap;
    text-align: right;
}

.site-nav .projects-menu-link:hover {
    background-color: $code-background-color;
    text-decoration: none;
}

.site-nav .projects-dropdown:hover .projects-menu,
.site-nav .projects-dropdown:focus-within .projects-menu {
    display: block;
}

@media screen and (min-width: $on-medium) {
    .site-nav .projects-dropdown {
        display: inline-block;
        margin-left: 20px;
    }

    .site-nav .projects-toggle {
        line-height: $base-line-height;
        padding: 0;
        margin-left: auto;
    }

    .site-nav .external-project-link {
        display: none;
    }
}
